.card{
  width: 350px;
  background-color: #fff;
  border-radius: 16px;
  border: none;
  box-shadow: 0 8px 10px rgba(31,70,88,.04);
  padding: 16px;
  display: inline-block;
  margin-left: 32px;
  transition: 0.5s;
  cursor: pointer;
}
h4{
  color: #81b214;
}
h5{
  color: #206a5d;
}
.card:hover{
  transform: scale(1.1);
}
:host {
  background-color: #f8f8f8
}
